.flex-container {
  display: flex;
  margin: 0px 2%;
  margin-top: 120px;
  margin-bottom: 48px;
}

.flex-column-left {
  flex: 0.3;
  margin-right: 2%;
}

.flex-column-right {
  flex: 0.7;
  flex-direction: column;
}